<div class="table-responsive">
  <table id="bitstamp-account-balance" class="table table-condensed table-hover">
    <thead>
      <tr><th>Balance</th><th>USD</th><th>BTC</th></tr>
    </thead>
    <tbody>
      <tr>
        <td><%= Bitstamp.client_id %></td>
        <td id="usdBalance"><%= number_to_currency @account.usd_available %></td>
        <td id="btkBalance"><%= @account.btc_available %></td>
      </tr>
    </tbody>
  </table>
</div>
