<div class="table-responsive">
  <table id="okcoin-account-balance" class="table table-condensed table-hover">
    <thead>
      <tr><th>Balance</th><th>CNY</th><th>BTC</th></tr>
    </thead>
    <tbody>
      <tr>
        <td><%= okcoin_client.account_id %></td>
        <td id="usdBalance"><%= number_to_currency @account.cny, unit: 'CN¥' %></td>
        <td id="btkBalance"><%= @account.btc %></td>
      </tr>
    </tbody>
  </table>
</div>
