<section class="row">
  <div class="col-lg-4">
    <div class="table-responsive">
      <table id="orderbook" class="table table-condensed table-hover">
        <caption>lakebtc.com</caption>
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Price</th>
            <th>Amount</th>
            <th style="width:80px;">Sum</th>
            <th style="width:80px;"></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-4 col-lg-offset-3">
    <div class="table-responsive">
      <table id="orderbookBitstamp" class="table table-condensed table-hover">
        <caption>bitstamp.net</caption>
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Price</th>
            <th>Amount</th>
            <th style="width:80px;">Sum</th>
            <th style="width:80px;"></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</section>

<section class="row">
  <div id="sectionOneClickAmount" class="col-lg-4">
    <div class="form-group">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Order Amount (BTC)</span>
        <input id="orderAmount" name="orderAmount" type="text" class="form-control" placeholder="0.01" value="0.01" data-value="0.01">
      </div>
    </div>
    <div id="multipliers" class="form-group">
      <div aria-label="First group" role="group" class="btn-group btn-group-sm">
        <button class="btn btn-default" type="button" data-ind="1">&times;1</button>
        <button class="btn btn-default" type="button" data-ind="2">&times;2</button>
        <button class="btn btn-default" type="button" data-ind="5">&times;5</button>
        <button class="btn btn-default" type="button" data-ind="10">&times;10</button>
        <button class="btn btn-default" type="button" data-ind="20">&times;20</button>
      </div>
      &nbsp;
      <%= link_to '+ auto order', new_order_path, remote: true %>
    </div>
  </div>

  <div id="section-bitstamp-OneClickAmount" class="col-lg-4 col-lg-offset-3">
    <div class="form-group">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Order Amount (BTC)</span>
        <input id="bitstamp-order-amount" name="bitstamp-order-amount" type="text" class="form-control" placeholder="0.01" value="0.01" data-value="0.01">
      </div>
    </div>
    <div id="multipliers" class="form-group">
      <div aria-label="First group" role="group" class="btn-group btn-group-sm">
        <button class="btn btn-default" type="button" data-ind="1">&times;1</button>
        <button class="btn btn-default" type="button" data-ind="2">&times;2</button>
        <button class="btn btn-default" type="button" data-ind="5">&times;5</button>
        <button class="btn btn-default" type="button" data-ind="10">&times;10</button>
        <button class="btn btn-default" type="button" data-ind="20">&times;20</button>
      </div>
      &nbsp;
      <%= link_to '+ auto order', new_bitstamp_order_path, remote: true %>
    </div>
  </div>
</section>

<section class="row">
  <div id="sectionAutoOrders" class="col-lg-4"></div>
  <div id="sectionBitstampAutoOrders" class="col-lg-4 col-lg-offset-3"></div>
</section>

<section class="row">
  <div id="sectionAccountBalance" class="col-lg-4"></div>
  <div id="section-bitstamp-account-balance" class="col-lg-4 col-lg-offset-3"></div>
</section>

<section class="row">
  <div id="sectionOrdersList" class="col-lg-4"></div>
  <div id="section-bitstamp-orders" class="col-lg-4 col-lg-offset-3"></div>
</section>
